/*Fonts*/
@import url("https://use.typekit.net/xaj0pij.css");



html{
	height: 100%;
}

body{
	margin: 0;
	height: 100%;
	background-color: #f0e4d5;
	
}

h1 {
	color:black;
	font-family: neue-haas-unica, sans-serif;
	font-weight: 800;
	font-style: normal;
	font-size: 400%;
}

h2{
	font-family: neue-haas-unica, sans-serif;
	font-weight: 500;
	font-style: normal;
	line-height: 50px;
}

h3{
	font-family: neue-haas-unica, sans-serif;
	font-weight: 500;
	font-style: normal;
	padding-top: 20px;
	text-decoration: none;
	color: black;
	font-size: 140%;
}

h4{
	font-family: neue-haas-unica, sans-serif;
	font-weight: 500;
	font-style: normal;
	padding-top: 20px;
	text-decoration: none;
	color: #f0e4d5;
	font-size: 140%;

}

a{
	color: black;
	text-decoration: none;
	width: 100px;
}

a:hover{
	color: black;
	text-decoration: none;
	
	border:solid 1px black;
	border-radius: 90px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 1px;
}

#buttonLink{
	color: black;
	text-decoration: none;
	margin: 0px;
	
	border:none;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}


button{
	border:solid 1px black;
	background-color: #f0e4d5;
	border-radius: 90px;
}


#hoverButton{
	border:solid 1px black;
	background-color: #f0e4d5;
	border-radius: 90px;
}

#hoverButton:hover{
	background-color: black;
	color: #f0e4d5;
}


#container{
	height: 100%;
	width: auto;
	padding-left: 100px;
	padding-top: 50px;
	padding-bottom: 100px;
}

#layoutsContainer{
	height: 90%;
	display: grid;
	grid-template-columns: 0.69fr 1fr 1fr;
	grid-template-rows: 1fr;
}

#header{
	padding-bottom: 0px;
}

#imageContainer{
	height: 50%;
	width: 25%;
	background-repeat: no-repeat;
	background-image: url(../img/peeb.jpg);
	background-size: cover;
}

#containerText{
	margin-left: 20px;
}

#magLayout{
	padding-top: 50px;
	align-self: left;
	grid-column: 1/1;
	margin: 0;
	height: 600px;
	width: auto;
}

#responsive{
	padding-top: 50px;
	grid-column: 2/3;
	margin: 0;
	height: 600px;
	width: auto;;
}

/*stuff for digital magazine layout*/

#digitalLayout{
	width: 1440px;
	height: 1850px;
	background-color: grey;

	display: grid;
	grid-template-rows: 1fr 2fr;

}

#headline{
	margin-top: 56px;
	font-family: bodoni-urw, serif;
	font-weight: 700;
	font-style: normal;
	font-size: 32px;
}

#subheads{
	font-family: futura-pt, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 40px;
	text-align: center;
	line-height: 29px;
}

#bonJoviContainer{
	grid-row: 1/1;
}

#bonJovi{
	margin-left: 75px;
	margin-right: 75px;
	display: grid;
	grid-template-columns: 467px 760px;
	grid-template-rows: 0.25fr 1fr 1fr
}

#bonJoviCopy{
	background-color: red;

	margin: 0;

	font-family: garamond-premier-pro, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 20px;
	width: 467px;
	height: 573px;
	text-align: justify;
	text-justify:inter-word;

	grid-column: 1/1
}

#bonJoviImg{
	margin-left:64px;
	width: 760px;
	height: 702px;

	grid-column: 2/2;
}

#patricia{
	grid-row: 2/2;
}


#patriciaCopy{
	background-color: green;

	font-family: garamond-premier-pro, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 20px;
	width: 467px;
	height: 876px;
	text-align: justify;
	text-justify:inter-word;
}

#patriciaImg{
	width: 754px;
	height: 943px;
}

/*stuff for digital magazine layout*/



@media screen and (max-width: 1000px){

	body{
		background-color: blue;
	}

	h1{
		color: white;
		font-size: 250%;
	}
}

@media screen and (max-width: 500px){

	body{
		background-color: green;
	}

	h1{
		color: white;
		font-size: 200%;
	}
}

