@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("Inter-Bold.woff2?v=3.15") format("woff2"),
       url("Inter-Bold.woff?v=3.15") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("Inter-Regular.woff2?v=3.15") format("woff2"),
       url("Inter-Regular.woff?v=3.15") format("woff");
}

html,body{
	margin: auto;
	width: 90%;
	font-family: helvetica;
}

hr{
	border-style: solid;
	border-color: #B8F397;
	background-color: #B8F397;
	height: 3px;
}

h2{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
}

h3{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
}

p{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
}

label{
	display: none;
}

a{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	color: black;
	text-decoration: none;
}

a:hover{
	text-decoration: none;
	font-weight: 700;
}

#desktopLinks{
	display: none;
	text-decoration: none;
}


	.logoContainer{
		height: 100%;
	}
	.topNav{
		top: 0;
		height: 80px;
		width: 90%;
		background-color: white;
		position: fixed;
	}

	#logo{
		float: left;
		display: block;
		height: 50px;
		width: auto;
	}

	.topNav #myLinks{
		display: none;
	}

	.topNav a{
		background-color: white;
		color: black;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 20px;
		display: block;
		text-align: center;
	}

	.topNav a.icon {
		padding-bottom: 0;
		height: 50px;
		background-color: white;
		display: block;
		position: absolute;
		right: 0;
		top: 0;
	}

	.fa fa-bars{
		height: 100px;
	}

	.topNav a:hover{
		background-color: white;
	}



	.active{
		top: 0;
		height: 50px;
		background-color: white;
		color: black;
	}

	.active a:hover{
		width: 
		top: 0;
		height: 50px;
		background-color: white;
		color: black;
	}

	.iconBar{
		display: block;
		background-color: black;
		width: 45px;
		height: 5px;
		margin-bottom: 15px;
	}

	p{
		font-size: 16px;
		line-height: 25px;
	}

	#gallery{
		width: 100%;
		height: 200px;
		object-fit: cover;
	}

	#about{
		padding-top: 100px;
	}


	label{
		cursor: pointer;
		float:right;
		margin-left: 0;
		padding-right: 25px;
		font-size: 50px;
		display: block;
	}
	
	#toggle:checked + .list{
		background-color: white;
		display: block;
		height: 170px;
		box-shadow: 0px 10px 20px #666666;
	}  

	#menuItem{
		text-align: center;
	}

	#priceContainer{
		text-align: center;
		word-spacing: 30px;
	}

	.foodMenu{
		text-align: center;
	}
	
	.locationHeaders{
		background-color:#B8F397; 
		text-align: center;
		padding: 10px 10px 10px 10px
	}

	.locationLinks{
		text-align: center;
		text-decoration: underline;
		color: black;
		font-size: 16px;
	}


	#contactContainer{
		text-align: center;
	}

	#contactContainer ul{
		display: block;
		font-size: 20px;
		line-height: 30px;
		text-align: center;
		list-style: none;
		padding-right: 32px;
	}

	#teleNum{
		color: black;
	}

	#email{
		color: black;
	}

	.collapsible {
		background-color: white;
		width: 100%;
		border:none;
		outline: none;
		text-align: left;
	}

	.collapsible h3{
		display: inline-block;
	}

	.active{
		background-color: white;
		height: 81px;
	}

	.collapsible .active{
		padding-bottom: 
	}

	.collapsible:hover{
		background-color: lightgrey;
		cursor:pointer;
	}

	.collapsible:after {
		content: '\02795';
		float:right;
		margin-top: 13px;
		font-size: 16px;
		color: white;
	}

	.active:after {
  		content: "\2796"; 
	}

	.active{
	}

	.content{
		display: none;
		overflow: hidden;

	}

@media only screen and (min-width: 600px){
	html,body{
		width: 1144px;
	}

	h2{
		margin: 0;
		font-size: 40px;
	}

	h3{
		font-size: 25px;
	}

	p{
		font-size: 25px;
		line-height: 40px;
	}

	.logoContainer{
		display: inline-block;
	}

	#logo{
		width: 327px;
		height: auto;
	}

	.topNav{
		display: inline-block;
		width: 1144px;
		height: 160px;
		border-bottom: 5px solid #B8F397;
	}

	.topNav a{
		background-color: none;
	}


	.topNav a.icon{
		display: none;
	}

	#myLinks{
		display: none;
	}

	#desktopLinks{
		margin-top: 100px;
		float: right;
		background-color: none;
		display: inline-block;
		width: auto;
	}

	#desktopLinks a{
		text-align: right;
		display: inline;
	}


	#about{
		padding-top: 200px;
		height: 90%;
		display: grid;
		grid-template-columns: 470px 559px;
		grid-column-gap: 109px;
	}

	#aboutCopy{	
		grid-row:1/1;
		grid-column: 1/1;
		height: 528px;
		width: 470px;
	}


	#gallery{
		grid-row: 1/1;
		grid-column: 2/2;
	}

	#gallery img{
		float: left;
		object-fit: cover;
		width: 559px;
		height: 528px; 
	}

	#menuItem{
		text-align: left;
	}

	#priceContainer{
		text-align: left;
	}

	#menuGroup{
		display: grid;
		grid-template-columns: 287px 371px 478px;
	}

	#menuItem{
		grid-column: 2/3;
	}

	#priceContainer{
		grid-column: 3/4;
		word-spacing: 100px;
	}

	.foodMenu{
		text-align: left;
	}


	.collapsible:after {
		content: black '\02795' ;
		float:right;
		margin-top: 20px;
		font-size: 25px;
		color: white;
	}

		.active:after {
  		content: "\2796"; 
	}
	
	#locationContact{
		margin-top: 100px;
		display: grid;
		width: 1137px;
		height: 882px;
		grid-template-columns: 660px 479px;
	}

	#loactionContainer{
		grid-row: 1/2;
		grid-column: 1/2;
	}
	
	#contactContainer{
		grid-row: 1/2;
		grid-column: 2/3;
	}

	.locationHeaders{
		width: 400px;
		font-size: 25px;
		text-align: left;
	}

	.locationHeaders h2{
		font-size: 25px;
	}

	.locationLinks{
		text-align: left;
	}

	#contactContainer{
		text-align: left;
	}

	#contactContainer ul{
		padding: 0;
		text-align: left;
		line-height: 40px;
	}

	#teas{
		word-spacing: 5px;
	}
} 