html,body{
	width: 100%;
	font-family: helvetica;
}

hr{
	border-style: solid;
	border-color: #B8F397;
	background-color: #B8F397;
	height: 3px;
}

#toggle{
	display: none;
}


label{
	display: none;
}

@media only screen and (max-width: 500px){
	html,body{
		margin:0;
		margin: auto;
		width: 90%;
	}

	p{
		font-size: 16px;
		line-height: 25px;
	}

	/* Logo */
	#logo{
		margin-top: 10px;
		display: inline-block;
		float: left;
		height: 50px;
		width: auto;

	}

	#nav{
		position: fixed;
		width: 82%;
		display: block;
		background-color: grey;
		text-align: center;
		height: 80px;
	}

	.list{
		padding-top: 100px;
		display: none;
		text-align: center;
	}

	.list a{
		text-decoration: none;
		color: black;
		display: block;
		margin: 0;
		line-height: 40px;
		font-size: 25px;
	}

	label{
		cursor: pointer;
		float:right;
		margin-left: 0;
		font-size: 50px;
		display: block;
	}
	
	#toggle:checked + .list{
		background-color: red;
		display: block;
		height: 200px;
	}  

	#menu{
		text-align: center;
	}

	#priceContainer{
		word-spacing: 30px;
	}

	.locationHeaders{
		background-color:#B8F397; 
		text-align: center;
		padding: 10px 10px 10px 10px
	}

	.locationLinks{
		text-align: center;
		color: black;
		font-size: 16px;
	}


	#contactContainer{
		text-align: center;
	}

	#contactContainer ul{
		display: block;
		font-size: 20px;
		line-height: 30px;
		text-align: center;
		list-style: none;
		padding-right: 32px;
	}

	#teleNum{
		color: black;
	}

	#email{
		color: black;
	}
}