html,body{
	width: 100%;
	font-family: helvetica;
}

hr{
	border-style: solid;
	border-color: #B8F397;
	background-color: #B8F397;
	height: 3px;
}

#toggle{
	display: none;
}


label{
	display: none;
}

@media only screen and (max-width: 500px){
	html,body{
		margin:0;
		margin: auto;
		width: 95%;
	}

	.topNav{
		width: 95%;
		background-color: white;
		position: fixed;
	}

	#logo{
		float: left;
		display: block;
		height: 50px;
		width: auto;
	}

	.topNav #myLinks{
		display: none;
	}

	.topNav a{
		color: black;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 20px;
		display: block;
		text-align: center;
	}

	.topNav a.icon {
		height: 50px;
		background: white;
		display: block;
		position: absolute;
		right: 0;
		top: 0;
	}

	.fa fa-bars{
		height: 100px;
	}

	.topNav a:hover{
		background-color: white;
		text-decoration: underline;
	}

	.active{
		top: 0;
		height: 50px;
		background-color: white;
		color: black;
	}

	.active a:hover{
		width: 
		top: 0;
		height: 50px;
		background-color: white;
		color: black;
	}

	.iconBar{
		display: block;
		background-color: black;
		width: 45px;
		height: 5px;
		margin-bottom: 15px;
	}

	p{
		font-size: 16px;
		line-height: 25px;
	}

	#gallery{
		width: 100%;
		height: 200px;
		object-fit: cover;
	}

	#about{
		padding-top: 100px;
	}

	.list{
		width: 100%;
		padding-top: 100px;
		display: none;
		text-align: center;
	}

	.list a{
		text-decoration: none;
		color: black;
		display: block;
		margin: 0;
		line-height: 40px;
		font-size: 25px;
	}

	label{
		cursor: pointer;
		float:right;
		margin-left: 0;
		padding-right: 25px;
		font-size: 50px;
		display: block;
	}
	
	#toggle:checked + .list{
		background-color: white;
		display: block;
		height: 170px;
		box-shadow: 0px 10px 20px #666666;
	}  

	#menuItem{
		text-align: center;
	}

	#priceContainer{
		text-align: center;
		word-spacing: 30px;
	}

	.foodMenu{
		text-align: center;
	}
	
	.locationHeaders{
		background-color:#B8F397; 
		text-align: center;
		padding: 10px 10px 10px 10px
	}

	.locationLinks{
		text-align: center;
		color: black;
		font-size: 16px;
	}


	#contactContainer{
		text-align: center;
	}

	#contactContainer ul{
		display: block;
		font-size: 20px;
		line-height: 30px;
		text-align: center;
		list-style: none;
		padding-right: 32px;
	}

	#teleNum{
		color: black;
	}

	#email{
		color: black;
	}
}